body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background: url(img/bgimagestu.jpg) no-repeat center center fixed;
}

.signin-table h2 {
  font-size: 40px;
  margin-bottom: 30px;

}

.LR-site-title h1 {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.6)!important;
}

.signin-table td {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.6)!important;
}

.signin-table p {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.signin-button {
  color:#fff;
  background-color:#ff2738;
  border-color:#c0222e;
  margin-top: 10px;
  margin-right: -20px;
  padding-left: 15px;
  padding-right : 15px;
  }

.signin-button:hover,.signin-button:focus,.signin-button:active,.signin-button.active,.open .dropdown-toggle.signin-button {
  color:#fff;
  background-color:#c0222e;
  border-color:#891a23;
  text-decoration: none;
  }
